@font-face {
	font-family: "HackNerdFontPropo";
	src: url('/static/fonts/HackNerdFontPropo-Regular.ttf') format('truetype');
}

:root {
	font-family: "HackNerdFontPropo", "Hack", monospace;
}

html, body {
	font-family: sans-serif;
	background: hsl(243, 20%, 15%);
	color: hsl(42, 30%, 70%);
}
