@font-face {
	font-family: "HackNerdFontPropo";
	src: url('/static/fonts/HackNerdFontPropo-Regular.ttf') format('truetype');
}

:root {
	background: transparent;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: inherit;
}

html, body {
	/* font-family: sans-serif; */
	background: hsl(243, 20%, 15%);
	color: hsl(42, 30%, 70%);
}
